:root {
  --card-bg: rgba(36, 36, 36, 0.372);
  --nav-bg: rgba(0, 0, 0, 0.6);
  --blur-radius: 10px;
  --font-family: monospace;
  --font-size: 18px;
  --font-color: white;
  --font-weight-bold: bold;
  --primary-color: cyan;
  --animation-duration: 10s;
  --filter-brightness-hover: 1.2;
  --transition-duration: 0.3s;
  --gap: 15px;
  --padding: 10%;
  --border-radius: 10px;
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
  margin: 0;
  background-color: black;
}

.Main{
  padding: var(--padding);
  
}
h1 {
  line-height: 0.9em;
}

p {
  line-height: 1em;
}

a {
  line-height: 0.8em;
}

nav {
  position: fixed;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background: var(--nav-bg);
  backdrop-filter: blur(var(--blur-radius));
  z-index: 3;
  gap: 1em;
  border-radius: 3em;
  padding: 2em;
  animation:naive 6s; 
}

@keyframes naive {
  0%{transform: translate(-50%,100%);}
  50%{box-shadow: 0 10px 300px lightblue;}
  100%{transform: translateY(-50,-100%);}  
}


nav:hover{
  width: 40em;
  justify-content: center;
  justify-content: space-around;
}

nav a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1em;
  font-weight: var(--font-weight-bold);
  padding: 0.5em;
  border-radius: 5px;

  transition: background-color var(--transition-duration), color var(--transition-duration);
}
nav a:hover{
  transform: scale(300%);
}
#logo {
  background-image: url(assets/Vector\ 8.svg);
}

/* Animation */
@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blurr {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(px);
  }
}

/* Container 1 */
#container1 {
  text-align: center;
  font-size: 2em;
  margin: 0%;
}
footer{
  text-align: center;
}


#container1 h1 {
  line-height: 0.8em;
}

em {
  color: var(--primary-color);
}

#container {
  padding: var(--padding);
}

/* Container 2 */
#container2 {
  background-color: var(--card-bg);
  backdrop-filter: blur(var(--blur-radius));
  border-radius: var(--border-radius);
  padding: var(--padding);
  box-shadow: 0 3px 10px  rgb(0, 0, 0) ;
  
}



/* Container 3 */
#container3 {
  background-color:var(--card-bg);
  border-radius: var(--border-radius);
}

.ico {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    gap: 10px;
    justify-content: center;
    justify-content: space-around;
}

.ico i {
  background-color: var(--card-bg);
  backdrop-filter: blur(var(--blur-radius));
  color: var(--font-color);
  border-radius: var(--border-radius);
  padding: 2em;
  text-align: center;
  border-radius: 10px;
}
#aa:hover{
  transform:translateY(-30%);
  background-size: 200%;
  background-color: #475ec1;
  background-image: radial-gradient(circle at bottom , rgb(105, 135, 213) 0%, rgb(105, 135, 213) 14.286%,rgb(94, 121, 206) 14.286%, rgb(94, 121, 206) 28.572%,rgb(82, 107, 199) 28.572%, rgb(82, 107, 199) 42.858%,rgb(71, 94, 193) 42.858%, rgb(71, 94, 193) 57.144%,rgb(59, 80, 186) 57.144%, rgb(59, 80, 186) 71.43%,rgb(48, 66, 179) 71.43%, rgb(48, 66, 179) 85.716%,rgb(36, 52, 172) 85.716%, rgb(36, 52, 172) 100.002%);
  box-shadow:0 20px 20px black ;
  animation:crore 10s infinite alternate;
}

/* Container 4 */
.work img {
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
  max-height: 50vh;
}

.container4{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(15em,1fr)) ;
  gap: 1em;
}
.work {
  padding: 20px;
  justify-content: center;
  width: 85%;
  border-radius: var(--border-radius);
  background-color: var(--card-bg);
  backdrop-filter: blur(var(--blur-radius));
}


.work:hover {
  filter: brightness(var(--filter-brightness-hover));
}


#container4 {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border-radius: var(--border-radius);
  gap: 20px;
}
.work-4 img:hover{
  animation:wheel 10s infinite;
}








/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.gallery-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
  filter: opacity(50%);
  -webkit-backdrop-filter: blur(70px);
  backdrop-filter: blur(70px);
  transition: transform var(--transition-duration) ease;
}

.gallery-image:hover {
  transform: scale(1.05);
  filter: opacity(100%);
}

/* Lightbox Styles */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  align-items: center;
  z-index: 1000;
  flex-direction: column;
}

.lib,.li{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 70%;
  width:70%;
  object-fit:cover;
}
.lib{
  z-index:1;
  transform: translate(-50%, -50%) scale(1.1);
  filter: blur(100px);
}
.li{
  z-index:2;
  border-radius: 3em;
}

#close,
#download,
#author {

  color: var(--font-color);
  border: none;
  line-height: 0.1px;
  padding: 10px 15px;
  cursor: pointer;
  font-size:larger;
  transition: all var(--transition-duration) ease;
  text-decoration: none;
}

.opt{
  position:fixed;
  bottom: 10%;
  transform: translateX(-50%);
  display: flex;
  padding: 1em;
  gap:1em;
  background-color:var(--card-bg);
  filter: brightness(200%);
  border-radius: 3em;
  z-index: 99999;
  backdrop-filter: blur(var(--blur-radius));
}
.opt:hover{
  width: 20em;
  justify-content: center;
  justify-content: space-around;
}
.opt a:hover{
  font-size:xx-large;
  animation: wheel 3s ;
}


button {
  padding: 2%;
  font-family: jetbrains mono;
  text-align: left;
  line-height: 0.9em;
  font-size: 1em;
  height:4em;
  border-radius: var(--border-radius);
  background-color:black;
  color: var(--font-color);
  border: none;
}

button:hover {
  border: 1px solid white;
  cursor: pointer;
}

@keyframes crore {
  0% {
    background-position: 0% 0%;
    box-shadow: 0 10px 50px #475ec1;

  }
  50% {
    background-position: 100% 100%;
    box-shadow: 0 10px 100px #475ec1;
  }
  100% {
    background-position: 0% 0%;
    box-shadow: 0 10px 200px #475ec1;
  }
}
@keyframes crow {
  0% {
    background-position: 0% 0%;
    }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}




/* Project Page */
.project-page {
  background-color: var(--card-bg);
  height: fit-content;
  width: fit-content;
  backdrop-filter: blur(var(--blur-radius));
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.project-page img {
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
  max-height: 70vh;
}

.App{
  background-color: black;
}
.hero{
  text-align: left;
  padding: 1em;
  font-size: large;
  box-shadow: 0 3px 10px  rgb(0, 0, 0) ;
  animation:crow 10s infinite alternate;
  background-size:200%;
  border-radius: 10px;
  background-color: var(--card-bg);
  background-image: radial-gradient(circle at top right, rgb(105, 135, 213) 0%, rgb(105, 135, 213) 14.286%,rgb(94, 121, 206) 14.286%, rgb(94, 121, 206) 28.572%,rgb(82, 107, 199) 28.572%, rgb(82, 107, 199) 42.858%,rgb(71, 94, 193) 42.858%, rgb(71, 94, 193) 57.144%,rgb(59, 80, 186) 57.144%, rgb(59, 80, 186) 71.43%,rgb(48, 66, 179) 71.43%, rgb(48, 66, 179) 85.716%,rgb(36, 52, 172) 85.716%, rgb(36, 52, 172) 100.002%);
}

@keyframes changeq {
  0%{background-position-x:10%;background-position-y:10%;}
  0%{background-position-x:100%;background-position-y:10%;}
}
.poster{
  padding: 1em;
  text-align: center;
  background-attachment: fixed;
  background-clip:padding-box;

}
.poster h1{
  font-size:3em;
}
svg path{
  animation: sparkles 2s infinite;
}

@keyframes sparkles {
  0%{fill:#3042b3;}
  20%{fill:#3b50ba ;}
  40%{fill: #475ec1;}
  60%{fill: #516bc6;}
  100%{fill:#5e79ce;}
}

.out{
  left: 50%;
  top: 50%;
  text-align: center;
}
#brush{
  font-size: 4em;
  animation: jump 3s infinite alternate;
}

@keyframes jump {
  to{
    transform: translateY(-50%);
    text-shadow: 0 10px 100px #516bc6;
  }
}
#brush:hover{
  text-shadow: 0 10px 70px#5e79ce ;
  color: #5e79ce;
}