
:root {
    --card-bg: rgba(36, 36, 36, 0.372);
    --nav-bg: rgba(0, 0, 0, 0.6);
    --bag:black;
    --blur-radius: 10px;
    --font-family:'JetBrains Mono', monospace;
    --font-size: 18px;
    --font-color: white;
    --font-weight-bold: bold;
    --primary-color: white;
    --animation-duration: 10s;
    --border:1px solid rgba(255, 255, 255, 0.25);
    --filter-brightness-hover: 1.2;
    --transition-duration: 0.3s;
    --boxshadow:inset 0 5px 200px rgba(255, 255, 255, 0.08);
    --gap: 15px;
    --padding: 10%;
    --gradient: radial-gradient(circle at top right, rgba(105, 136, 213, 0.414) 0%,
     rgba(105, 136, 213, 0.388) 14.286%,
     rgba(94, 120, 206, 0.452) 14.286%,
      rgba(94, 120, 206, 0.465) 28.572%,
      rgba(82, 107, 199, 0.42) 28.572%, 
      rgba(82, 107, 199, 0.478) 42.858%,
      rgba(71, 93, 193, 0.485) 42.858%,
       rgba(71, 93, 193, 0.452) 57.144%,
       rgba(59, 80, 186, 0.478) 57.144%,
        rgba(59, 80, 186, 0.415) 71.43%,
        rgba(48, 65, 179, 0.449) 71.43%,
         rgba(48, 65, 179, 0.378) 85.716%,
         rgba(36, 52, 172, 0.405) 85.716%,
          rgba(36, 52, 172, 0.374) 100.002%);
    --total:none;
    --border-radius: 10px;
    --button-c:#2a2a2a;
--button-t:#e0e0e0;
--button-ts:0 0.0625em 0 #000;
--button-bs: inset 0 0.0625em 0 0 #3a3a3a,
    0 0.0625em 0 0 #252525,
    0 0.125em 0 0 #202020,
    0 0.25em 0 0 #1c1c1c,
    0 0.3125em 0 0 #181818,
    0 0.375em 0 0 #141414,
    0 0.425em 0 0 #101010,
    0 0.425em 0.5em 0 #0a0a0a;
--button-abc:
    inset 0 0.03em 0 0 #3a3a3a,
    0 0.03em 0 0 #252525,
    0 0.0625em 0 0 #202020,
    0 0.125em 0 0 #1c1c1c,
    0 0.125em 0 0 #181818,
    0 0.2em 0 0 #141414,
    0 0.225em 0 0 #101010,
    0 0.225em 0.375em 0 #0a0a0a;
    
}



/*------------------------------------main------------------------------------------*/
body {
  font-family: var(--font-family);
  overflow-x: hidden;
  margin: 0;
  color: var(--primary-color);
  background-color: var(--total);

}

.App{
  padding:50px;
}

/*--------------------------------basic-tags------------------------------------------*/

h1 {
  line-height: 0.9em;
}

p {
  line-height: 1em;
}

a {
  line-height: 0.8em;
}
footer{
  text-align: left;
  position: relative;
  background-color:var(--card-bg);
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius)); 
  
  box-shadow:var(--boxshadow);
  border:var(--border);
  border-radius: var(--border-radius);
  z-index:-1;
}
#foot{
  height: 20em;
}
footer h1{
  font-size: 10em;
}
footer {
  overflow: hidden;
}

.one {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 10s linear infinite alternate-reverse;
}
.two{
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation-delay: 10s;
  animation: scroll-left 10s linear infinite alternate;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
button {
  padding: 2%;
  font-family: jetbrains mono;
  text-align: left;
  line-height: 0.9em;
  font-size: 1em;
  height:4em;
  border-radius: var(--border-radius);

  background-color:var(--card-bg);
  color: var(--font-color);
  box-shadow:var(--boxshadow);
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius)); 
  
  border: none;
 
}

button:hover {
  cursor: pointer;
  box-shadow: 0  10px var(--card-bg);
}

/*-----------------------------------navbar-----------------------------------------*/

nav {
  position: fixed;
  bottom: 4%;
  left: 50%;
  display: flex;
  z-index: 10;
  gap: 1em;
  border-radius: 3em;
  padding: 0.4em;
  box-shadow:var(--boxshadow);
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius)); 
  
  background-color: var(--card-bg);
  animation:naive 6s 1; 
  transform: scale(30%);
  transform: translateX(-50%);
  border: var(--border);
  justify-content:center;
}

nav a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 2em;
  font-weight: var(--font-weight-bold);
  padding: 0.5em;
  border-radius: 5px;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}
nav a:hover{
  transform: scale(120%);
}
nav:hover{
  justify-content:center;
  text-align: center;
  font-size: 2em;
  flex-direction: column;
}
#nav-hy{
  height: 2em;
  padding: 0%;
  width: 2em;
}


/*---------------------------------container-1--------------------------------------*/
#container1 {
  text-align: center;
  font-size: 2em;
  color:var(--primary-color);
  margin: 0%;
  height: fit-content;
}

.ab{
  height: 30%;
  width: 30%;
}


#container1 h1 {
  position: relative;
  line-height: 0.8em;
}


.hero{
  text-align: left;
  padding: 1em;
  background-attachment: fixed;
  background-size: contain;
  font-size: large;
  box-shadow: 0 3px 10px  rgb(0, 0, 0) ;
  border-radius: 10px;
  border: var(--border);
  box-shadow:var(--boxshadow);

}

/*---------------------------------container-2--------------------------------------*/
.container2 {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(15em,1fr)) ;
  gap: 1em;
}
.achievement{
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 10px;
  border-radius: var(--border-radius);
  gap: var(--gap);
}
.achievement h1{
  line-height:1em;
}
.achievement a{
  color:cyan;
  text-decoration: none;
}
.achievement a:hover{
  font-size: large;
}

.achievement img {
  background-size: contain;
}

.achievement{
  justify-content: space-around;
  box-shadow:var(--boxshadow);
  border-radius: var(--border-radius);
  background-color: var(--card-bg);
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius)); 
  display: flex;
  border: var(--border);
}






/*---------------------------------container-3--------------------------------------*/
.container3 {
  background-color:var(--card-bg);
  border-radius: var(--border-radius);
  position:relative;
  padding: 5em;
  z-index: -1;
  box-shadow:var(--boxshadow);
  -webkit-backdrop-filter: blur(--blur-radius);
  backdrop-filter: blur(var(--blur-radius)); 
  border: var(--border);
}

.ico {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 99999;
    gap: 10px;
    justify-content: center;
    justify-content: space-around;
}

.ico i {
  background-color: var(--card-bg);
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius)); 
  
  color: var(--font-color);
  border-radius: var(--border-radius);
  padding: 2em;
  box-shadow:var(--boxshadow);
  text-align: center;
  border-radius: 10px;
}
#aa:hover{
  background-size: 200%;
  animation:crore 10s infinite alternate;
  cursor: pointer;
  box-shadow: 0  10px var(--card-bg);  
}

/*---------------------------------container-4--------------------------------------*/
.work img {
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
  max-height: 50vh;
}

.container4{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(15em,1fr)) ;
  gap: 1em;
}
.work {
  padding:var(--padding);
  justify-content: space-around;
  box-shadow:var(--boxshadow);
  border-radius: var(--border-radius);
  background-color: var(--card-bg);
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius)); 
  
  display: flex;
  flex-direction: column;
  border: var(--border);
}


.work img{
  transform: scale(70%);
  
}

.work img:hover{
  transform: scale(50%);
}
.work button{
  width: 100%;
  text-align: center;
}

/*----------------------------------gallery-----------------------------------------*/
.gallery {
  columns:300px;
  gap: 1em;
}

.gallery-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
  border-radius: var(--border-radius);
  filter: opacity(50%);
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius)); 
  
  transition: transform var(--transition-duration) ease;
}

.gallery-image:hover {
  transform: scale(1.05);
  filter: opacity(100%);
}

/* Lightbox Styles */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(var(--blur-radius)); 
  align-items: center;
  z-index: 1000;
  flex-direction: column;
}

.lib,.li{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 70%;
  width:70%;
  object-fit:cover;
}
.lib{
  z-index:1;
  transform: translate(-50%, -50%) scale(1.1);
  filter: blur(100px);
}
.li{
  z-index:2;
  border-radius: 3em;
}

#close,
#download,
#author {

  color: var(--font-color);
  border: none;
  line-height: 0.1px;
  padding: 10px 15px;
  cursor: pointer;
  font-size:larger;
  transition: all var(--transition-duration) ease;
  text-decoration: none;
}

.opt{
  position:fixed;
  bottom: 10%;
  transform: translateX(-50%);
  display: flex;
  padding: 1em;
  gap:1em;
  background-color:var(--card-bg);
  filter: brightness(200%);
  border-radius: 3em;
  z-index: 99999;
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius)); 
  
}
.opt:hover{
  width: 20em;
  justify-content: center;
  justify-content: space-around;
}
.opt a:hover{
  font-size:xx-large;
  animation: wheel 3s ;
}

.opt a:checked{
  transform: translateY(-30s);
  transform: scale(10%);
}


/*----------------------------project--------------------------------------*/
.project-page {
  background-color: var(--card-bg);
  height: fit-content;
  width: fit-content;
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius)); 
  
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.project-page img {
  border-radius: var(--border-radius);
  width: 100%;

  height: auto;
  max-height: 70vh;
}





.poster{
  padding: 1em;
  text-align: center;
  background-attachment: fixed;
  background-clip:padding-box;

}
.poster h1{
  font-size:3em;
}
svg path{
  animation: sparkles 45s infinite ;
}



.container3{
  animation: slide33 linear reverse;
  animation-timeline: view();
  animation-range: entry 0;
}
.work{
  animation:slide4 linear reverse;
  animation-timeline: view();
  animation-range: entry 0;
}
.ico a i {
  animation:slide3 linear reverse;
  animation-timeline: view();
  animation-range: entry 0;
}
.gallery img{
  animation:slideg linear reverse;
  animation-timeline: view();
  animation-range: entry 0;
}

.out{
  left: 50%;
  top: 50%;
  text-align: center;
}
#brush{
  font-size: 4em;
  animation: jump 3s infinite alternate;
}


/*------------------------------moving ball--------------------------------------*/
.ball{
  position: fixed;
  z-index: 0;  
  left: 100%;
  bottom: 50%;
  transform: translateX(-50%);
  padding: 3em;
  transform: scale(300%);
  clip-path: circle();
  box-shadow:var(--boxshadow);
  -webkit-backdrop-filter: blur(var(--blur-radius));
  backdrop-filter: blur(var(--blur-radius)); 
  
  background-color: var(--card-bg);
  animation: bgb 10s infinite alternate ;
}


/*-----------------------------------ANIMATION----------------------------------*/

@keyframes sparkles {
  0%{fill:#3042b3;color: #3042b3;}
  20%{fill:#3b50ba ;color: #3b50ba;}
  40%{fill: #475ec1;color: #475ec1;}
  60%{fill: #516bc6;color:#516bc6;}
  100%{fill:#5e79ce;color: #5e79ce;}
}



@keyframes jump {
  to{
    transform: translateY(-50%);
    text-shadow: 0 10px 100px #516bc6;
  }
}
#brush:hover{
  text-shadow: 0 10px 70px#5e79ce ;
  color: #5e79ce;
}
@keyframes slide4 {
  to{
    filter: blur(10px);
    opacity: 50%;
    transform: scale(50%);
  } 
}
@keyframes slide3 {
 to{
   color: rgba(255, 255, 255, 0);
   font-size: 0px;
   transform: translateY(50%);
   padding: 0%;
}  
}
@keyframes slideg {
  to{
    opacity: 0%;
    filter: blur(100px);
    transform: translateY(100%);
  }  
}

@keyframes changeq {
  0%{background-position-x:10%;}
  0%{background-position-x:100%;}
}
@keyframes bgb{
  to{
    left: 0%;
  }
}
@keyframes crow {
  0% {
    background-position: 0% 0%;
    }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes crore {
  0% {
    background-position: 0% 0%;
    box-shadow: 0 10px 50px #475ec1;

  }
  50% {
    background-position: 100% 100%;
    box-shadow: 0 10px 100px #475ec1;
  }
  100% {
    background-position: 0% 0%;
    box-shadow: 0 10px 200px #475ec1;
  }
}

@keyframes naive {
  0%{transform: translate(-50%,100%);}
  50%{box-shadow: 0 10px 300px lightblue;}
  100%{transform: translateY(-50,-100%);}  
}
@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blurr {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(10px);
  }
}

@keyframes waller {
  0%{background-image: url("assets/ga/1.png");}  
  10%{background-image: url("assets/ga/2.png");}  
  20%{background-image: url("assets/ga/3.png");}  
  30%{background-image: url("assets/ga/4.png");}  
  40%{background-image: url("assets/ga/5.png");}  
  50%{background-image: url("assets/ga/6.png");}  
  60%{background-image: url("assets/ga/7.png");}  
  70%{background-image: url("assets/ga/8.png");}  
  80%{background-image: url("assets/ga/9.png");}  
  90%{background-image: url("assets/ga/10.png");}  
  100%{background-image: url("assets/ga/11.png");}  

}
@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%,0);
   
  }
}
@keyframes back{
  0%{
    background-color: white;
  }
  100%{
    background-color: black;
  }
}



/*button*/
button {
  font: inherit;
  background-color:var(--button-c);
  border: 0;
  color:var(--button-t);
  border-radius: 0.5em;
  font-size: 1.35rem;
  padding: 0.375em 1em;
  font-weight: 600;
  text-shadow:var(--button-ts);
  box-shadow:var(--button-bs);
  cursor: pointer;
}
button:active {
  translate: 0 0.225em;
  box-shadow: var(--button-abc);
}





/*
created by
┏┓┃┏┓┓┃┃┏┓━━━┓━━━┓━━━┓┃┃┃┓┃┃┏┓━━┓━━━┓┓┃┏┓━━━┓┓┃┃┃━━━┓
┃┃┃┃┃┗┓┏┛┃┏━┓┃┏━━┛┏━┓┃┃┃┃┗┓┏┛┃┫┣┛┏━┓┃┃┃┃┃┏━┓┃┃┃┃┃┏━┓┃
┃┗━┛┃┓┗┛┏┛┗━┛┃┗━━┓┗━┛┃┃┃┃┓┃┃┏┛┃┃┃┗━━┓┃┃┃┃┃┃┃┃┃┃┃┃┗━━┓
┃┏━┓┃┗┓┏┛┃┏━━┛┏━━┛┏┓┏┛┃┃┃┃┗┛┃┃┃┃┃━━┓┃┃┃┃┃┗━┛┃┃┃┏┓━━┓┃
┃┃┃┃┃┃┃┃┃┃┃┃┃┃┗━━┓┃┃┗┓┃┃┃┗┓┏┛┃┫┣┓┗━┛┃┗━┛┃┏━┓┃┗━┛┃┗━┛┃
┗┛┃┗┛┃┗┛┃┃┛┃┃┃━━━┛┛┗━┛┃┃┃┃┗┛┃┃━━┛━━━┛━━━┛┛┃┗┛━━━┛━━━┛
┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃
┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃┃
*/












